@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "_variables.sass"
    
body
    margin: 0
    background-color: map-get($colors, bg)
    display: flex
    flex-direction: column
    font-family: "Noto Sans", sans-serif
    font-weight: 400

header
    display: flex
    justify-content: space-between
    border-bottom: 0.2px solid map-get($colors, border)
    padding: $section-padding

    .header__item
        color: map-get($colors, primary)

        p
            margin: 0
            font-size: 1.3rem

nav
    display: flex
    justify-content: space-between
    padding: $section-padding 1rem

    .nav-button
        background-color: map-get($colors, secondary)
        padding: 0.4rem 0.7rem
        font-family: inherit
        color: map-get($colors, primary)
        border-radius: 0.6rem
        font-size: 0.8rem
        font-weight: 600

    .nav-button__highlighted
        background-color: map-get($colors, primary)
        color: map-get($colors, secondary)