@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "_variables.sass"
    
body
    margin: 0
    background-color: map-get($colors, bg)
    display: flex
    flex-direction: column
    font-family: "Noto Sans", sans-serif
    font-weight: 400

header
    display: flex
    justify-content: space-between
    @include divider()
    padding: $section-padding

    .header__item
        color: map-get($colors, primary)

        p
            margin: 0
            font-size: 1.3rem
            display: inline

        img
            width: 2rem

        div
            display: inline

    .brand
        display: flex
        flex-direction: row

        img
            align-self: center

        p
            font-weight: 600

nav
    display: flex
    justify-content: space-between
    padding: $section-padding 1rem
    @include divider()

    .nav-button
        background-color: map-get($colors, secondary)
        padding: 0.4rem 0.7rem
        font-family: inherit
        color: map-get($colors, primary)
        border-radius: 0.6rem
        font-size: 0.8rem
        font-weight: 600

    .nav-button__highlighted
        background-color: map-get($colors, primary)
        color: map-get($colors, secondary)

    #nav-button__open-nav
        border-radius: 0.1rem

main
    color: map-get($colors, primary)
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: $section-padding 
    margin: 1rem 0

    .shorts__brand
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        padding: $section-padding

        div p
            margin: 0
            font-weight: 900
            font-size: 1.2rem

    .shorts-content
        padding: 0.5rem 0
        display: grid
        grid-template-areas: "a a" "a a"

        .shorts-content__item
            display: flex
            flex-direction: column-reverse
            margin: 0.2rem 0.2rem
            height: 320px
            width: 200px
            border-radius: 0.5rem
            justify-content: space-between
            background-image: url("https://placehold.co/200x320")

            .shorts-content__item__brand
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0))
                align-self: flex-end
                width: 100%
                height: 6rem
                display: flex
                align-items: flex-end
                
                p
                    padding: 0 1rem
                    font-size: 0.9rem
            
            .shorts-content__item__context
                p
                    margin: 0
                    float: right
                    padding: 0 1rem
            
    .videos-content
        margin: 0.5rem 0
        .videos-content__item
            .videos-content__item-image
                display: flex
                justify-content: flex-end
                align-items: flex-end
                width: 100vw
                height: 100vw / 16 * 9
                background-image: url("https://placehold.co/200x320")
                background-repeat: no-repeat
                background-size: cover
                margin: 1rem 0

                p
                    margin: 0
                    background-color: lighten(map-get($colors, bg), 20)
                    font-size: 0.7rem
                    padding: 0.2rem
                    margin: 0.5rem
                    border-radius: 15%

        .videos-content__info
            display: flex
            // justify-content: space-between
            align-items: center
            padding: 0 1rem

            .profile-photo
                width: 50px
                height: 50px
                background-image: url("https://placehold.co/50x50")
                border-radius: 50%
        
            .text-container
                padding: 0 1rem
                max-width: 70%

                p
                    margin: 0

                .video-title
                    font-size: 0.9rem
                
                .video-info
                    display: flex
                    flex: 2 1 auto

                    p
                        padding: 0 0.2rem
                        margin: 0
                        font-size: 0.7rem
                        color: darken(map-get($colors, primary), 40)

            .video-context
                margin-left: auto