@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid #242424;
  padding: 0.5rem 1rem;
}
header .header__item {
  color: #fff;
}
header .header__item p {
  margin: 0;
  font-size: 1.3rem;
  display: inline;
}
header .header__item img {
  width: 2rem;
}
header .header__item div {
  display: inline;
}
header .brand {
  display: flex;
  flex-direction: row;
}
header .brand img {
  align-self: center;
}
header .brand p {
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  border-bottom: 0.2px solid #242424;
}
nav .nav-button {
  background-color: #3b3b3b;
  padding: 0.4rem 0.7rem;
  font-family: inherit;
  color: #fff;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
}
nav .nav-button__highlighted {
  background-color: #fff;
  color: #3b3b3b;
}
nav #nav-button__open-nav {
  border-radius: 0.1rem;
}

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
main .shorts__brand {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
main .shorts__brand div p {
  margin: 0;
  font-weight: 900;
  font-size: 1.2rem;
}
main .shorts-content {
  padding: 0.5rem 0;
  display: grid;
  grid-template-areas: "a a" "a a";
}
main .shorts-content .shorts-content__item {
  display: flex;
  flex-direction: column-reverse;
  margin: 0.2rem 0.2rem;
  height: 320px;
  width: 200px;
  border-radius: 0.5rem;
  justify-content: space-between;
  background-image: url("https://placehold.co/200x320");
}
main .shorts-content .shorts-content__item .shorts-content__item__brand {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  align-self: flex-end;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: flex-end;
}
main .shorts-content .shorts-content__item .shorts-content__item__brand p {
  padding: 0 1rem;
  font-size: 0.9rem;
}
main .shorts-content .shorts-content__item .shorts-content__item__context p {
  margin: 0;
  float: right;
  padding: 0 1rem;
}
main .videos-content {
  margin: 0.5rem 0;
}
main .videos-content .videos-content__item .videos-content__item-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 56.25vw;
  background-image: url("https://placehold.co/200x320");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 0;
}
main .videos-content .videos-content__item .videos-content__item-image p {
  margin: 0;
  background-color: #414141;
  font-size: 0.7rem;
  padding: 0.2rem;
  margin: 0.5rem;
  border-radius: 15%;
}
main .videos-content .videos-content__info {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
main .videos-content .videos-content__info .profile-photo {
  width: 50px;
  height: 50px;
  background-image: url("https://placehold.co/50x50");
  border-radius: 50%;
}
main .videos-content .videos-content__info .text-container {
  padding: 0 1rem;
  max-width: 70%;
}
main .videos-content .videos-content__info .text-container p {
  margin: 0;
}
main .videos-content .videos-content__info .text-container .video-title {
  font-size: 0.9rem;
}
main .videos-content .videos-content__info .text-container .video-info {
  display: flex;
  flex: 2 1 auto;
}
main .videos-content .videos-content__info .text-container .video-info p {
  padding: 0 0.2rem;
  margin: 0;
  font-size: 0.7rem;
  color: #999999;
}
main .videos-content .videos-content__info .video-context {
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
